In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [ ]:
df = pd.read_excel('/content/Datasets _ NLP based tagging solution078466f.xlsx',sheet_name='Training Data ')
df.head()

                                   Exception (input)  ... Exception Category (ouput)
0               Invite not found in both CBS mailbox  ...         Business Exception
1     Interviewer xxxx mail ID not found in invite.   ...         Business Exception
2       Invite not found in both TAX and PAS mailbox  ...         Business Exception
3  InternalFailed to evaluate expression 'Replace...  ...           System Exception
4  Could not execute code stage because exception...  ...           System Exception

[5 rows x 4 columns]

In [ ]:
#preprocessing steps

def clean_text(text):
    """
    Applies some pre-processing on the given text.

    Steps :
    - Removing punctuation
    - Lowering text
    """
    
    # remove the characters [\], ['] and ["]
    text = re.sub(r"\\", "", text)    
    text = re.sub(r"\'", "", text)    
    text = re.sub(r"\"", "", text)  
    # text = re.sub(r'[0-9]','', text)  
    
    # convert text to lowercase
    text = text.strip().lower()
    
    # replace punctuation characters with spaces
    filters='!"\'#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n'
    translate_dict = dict((c, " ") for c in filters)
    translate_map = str.maketrans(translate_dict)
    text = text.translate(translate_map)

    return text

In [ ]:
#vectorization

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words="english", preprocessor=clean_text)
train = df['Exception (input)']

training_features = vectorizer.fit_transform(train)

In [ ]:
vectorizer.vocabulary_.items()

dict_items([('invite', 79), ('cbs', 26), ('mailbox', 98), ('interviewer', 78), ('xxxx', 183), ('mail', 96), ('id', 73), ('tax', 167), ('pas', 119), ('internalfailed', 77), ('evaluate', 51), ('expression', 55), ('replace', 138), ('mailbody', 97), ('item', 86), ('data', 40), ('collection', 33), ('execute', 54), ('code', 31), ('stage', 159), ('exception', 52), ('thrown', 172), ('given', 68), ('key', 91), ('present', 124), ('dictionary', 43), ('email', 46), ('failed', 57), ('read', 134), ('automatically', 19), ('set', 156), ('cleanup', 27), ('session', 155), ('end', 47), ('recruiter', 135), ('assurance', 18), ('occured', 112), ('accessing', 12), ('article', 17), ('page', 117), ('unable', 175), ('processed', 126), ('launch', 93), ('service', 154), ('site', 158), ('retries', 142), ('missing', 104), ('mandatory', 100), ('fields', 61), ('consulting', 34), ('internal', 76), ('new', 109), ('work', 181), ('queue', 130), ('items', 87), ('filtered', 64), ('output', 115), ('p2', 116), ('current', 39), ('row', 146), ('populated', 123), ('filterd', 63), ('queuefile', 131), ('contain', 35), ('valid', 178), ('apac', 14), ('country', 37), ('field', 60), ('po', 122), ('created', 38), ('parent', 118), ('2036', 6), ('sa', 148), ('entries', 48), ('proecssed', 128), ('manually', 101), ('unexpected', 176), ('error', 49), ('adding', 13), ('requests', 141), ('request', 140), ('form', 66), ('perform', 120), ('step', 161), ('product', 127), ('model', 105), ('purchase', 129), ('order', 114), ('line', 95), ('object', 111), ('invoked', 82), ('disconnected', 44), ('clients', 29), ('hresult', 70), ('0x80010108', 1), ('rpc', 147), ('does', 45), ('contains', 36), ('right', 145), ('subject', 163), ('start', 160), ('bbc', 21), ('update', 177), ('209', 7), ('remote', 137), ('server', 153), ('returned', 143), ('504', 9), ('gateway', 67), ('timeout', 173), ('421', 8), ('2034', 5), ('tfd', 171), ('navigate', 107), ('invoke', 81), ('js', 89), ('ram', 133), ('visible', 180), ('place', 121), ('invoking', 84), ('javascript', 88), ('method', 102), ('0x80020101', 2), ('mshtml', 106), ('htmlwindow2class', 72), ('ihtmlwindow2', 74), ('execscript', 53), ('string', 162), ('language', 92), ('blueprism', 23), ('applicationmanager', 16), ('html', 71), ('clshtmldocument', 30), ('invokejavascriptmethod', 83), ('methodname', 103), ('jsonargs', 90), ('retval', 144), ('serr', 152), ('template', 169), ('bot', 24), ('send', 151), ('file', 62), ('write', 182), ('ey', 56), ('house', 69), ('bank', 20), ('coding', 32), ('block', 22), ('target', 166), ('invocation', 80), ('navigate1', 108), ('search', 150), ('req', 139), ('taleo', 165), ('application', 15), ('input', 75), ('clear', 28), ('short', 157), ('desc', 42), ('problemticket', 125), ('tabs', 164), ('access', 10), ('denied', 41), ('0x80070005', 3), ('accessdenied', 11), ('rejected', 136), ('callee', 25), ('0x80010001', 0), ('es', 50), ('tdr', 168), ('sccm', 149), ('launched', 94), ('main', 99), ('nodelevel', 110), ('0x800a9c68', 4), ('opportunity', 113), ('fetch', 59), ('race', 132), ('tool', 174), ('issue', 85), ('finding', 65), ('failure', 58), ('textbox', 170), ('value', 179)])

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression

model = LinearSVC()
model2 = MultinomialNB()
model3 = LogisticRegression()
model.fit(training_features[:40], df["Exception Category (ouput)"][:40])
model2.fit(training_features[:40], df["Exception Category (ouput)"][:40])
model3.fit(training_features[10:], df["Exception Category (ouput)"][10:])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = model.predict(training_features[40:])
y_pred2 = model2.predict(training_features[40:])
y_pred3 = model3.predict(training_features[0:10])

In [ ]:
print(y_pred3)

['Business Exception' 'Business Exception' 'Business Exception'
 'System Exception' 'System Exception' 'Business Exception'
 'Business Exception' 'Business Exception' 'Business Exception'
 'Business Exception']

In [ ]:
print(y_pred)

['System Exception' 'System Exception' 'System Exception'
 'System Exception' 'System Exception' 'System Exception'
 'Business Exception']

In [ ]:
print(y_pred2)

['System Exception' 'System Exception' 'System Exception'
 'System Exception' 'System Exception' 'System Exception'
 'Business Exception']

In [ ]:
print('Accuracy for Exception category using SVC: ',accuracy_score(df["Exception Category (ouput)"][40:],y_pred))
print('Accuracy for Exception category using Naive Bayes: ',accuracy_score(df["Exception Category (ouput)"][40:],y_pred2))
print('Accuracy for Exception category using Logistic Regression: ',accuracy_score(df["Exception Category (ouput)"][0:10],y_pred3))

Accuracy for Exception category using SVC:  0.8571428571428571
Accuracy for Exception category using Naive Bayes:  0.8571428571428571
Accuracy for Exception category using LOgistic Regression:  0.8

We have used Logistic Regression, Multinomial Naive-Bayes, and Support Vector Machine as our training models.

In [ ]:
df_out = pd.DataFrame(data = {'Input': train[40:], 'Output':y_pred})
df_out

                                                Input              Output
40  Failed to fetch data from RACE tool due to sit...    System Exception
41  Could not execute code stage because exception...    System Exception
42  Internal_Could not execute code stage because ...    System Exception
43  Failed to perform step 1 in Read Stage 'Read p...    System Exception
44  BBC Update failed for BBC ID- 330- The remote ...    System Exception
45  Failed to perform step 1 in Navigate Stage 'Cl...    System Exception
46  Error in populating result in output template ...  Business Exception

In [ ]:
df_out.to_excel('output.xlsx',index = False)